<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-4 offset-md-3">
    <div id="success" class="alert alert-success {{#if noMessage}}d-none{{/if}}" role="alert">
      {{ successMsg }}
    </div>
  </div>
</div>

{{#if homePage}}
{{!-- Carousel --}}
<div class="owl-carousel owl-theme">
  
</div>

{{/if}}
<div class="container">
  <div class="row">
    {{#each response}}
    <div class="col s12 m4 l3">
      <div class="card" id="productCard">
        <div class="card-image">
          <img src={{this.imagePath}} alt="card image" class="responsive-img">
          <span class="card-title">
            <a href="/add-to-cart/{{this._id}}" class="right"><i class="fas fa-shopping-cart"></i></a><br>
            <a href="#" class="right"><i class="far fa-heart"></i></a><br>
            <a href="#" class="right"><i class="far fa-eye"></i></a><br>
          </span>
        </div>
        <div class="card-content">
          <h6 class="card-title">{{this.name}}</h6>
          <p class="card-desc">{{this.desc}}</p>
          <p class="card-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
          <p class="price">₹ {{this.price}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
